:root {
	--color-primary: hsl(29, 24%, 42%);
	--color-background: hsl(33, 100%, 94%);
	--color-text: hsl(13, 12%, 15%);

	--color-button: hsl(12, 6%, 15%);
	--color-button-text: var(--color-background);

	--color-line-pink: hsl(0, 100%, 78%);

	--color-navigation-background: hsl(30, 55%, 84%);
	--color-navigation-text: var(--color-primary);

	--color-selection: hsla(12, 6%, 15%, 0.1);

	--font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--color-selection);
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
	font-size: 16px;
}

body {
	height: 100dvh;
	font-family: var(--font-family);
	color: var(--color-text);
	background-color: var(--color-background);
}

img,
picture,
svg,
video,
canvas {
	display: block;
	max-width: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.75rem 2rem;
	gap: 8px;

	& > span {
		font: 1.5rem var(--font-family);
		font-variation-settings: "wdth" 150;
		font-weight: 1000;
		color: var(--color-text);
		text-transform: uppercase;
		letter-spacing: -6%;
	}
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	min-height: calc(100dvh - 5.688rem);
	padding-block: 2rem;

	& > img {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		user-select: none;
		pointer-events: none;

		&.blur {
			z-index: -1;
		}

		&.figma {
			width: 10%;
			top: 20%;
			left: 30%;
		}

		&.laptop {
			width: 15%;
			top: 20%;
			left: 70%;
		}

		&.sticker {
			width: 10%;
			top: 70%;
			left: 30%;
		}

		&.mica {
			top: 10%;
			left: 10%;
			scale: 0.8;
		}

		&.neo {
			top: 50%;
			left: 90%;
		}

		&.saku {
			top: 70%;
			left: 10%;
			scale: 0.8;
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;

	& .website-tagline {
		display: inline-flex;
		align-items: center;
		font-size: 1.25rem;
		font-weight: bold;
		color: var(--color-primary);
		letter-spacing: -2%;
	}

	& h1 {
		font-size: clamp(2rem, 5vw, 4rem);
		font-weight: bold;
		color: var(--color-text);
		text-align: center;
	}

	& .hero-text {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;

		& img {
			width: 10%;
			user-select: none;
			pointer-events: none;
		}

		& span {
			font-size: 1rem;
			font-weight: medium;
			color: var(--color-text);
			letter-spacing: -2%;

			& mark {
				background: transparent;
				box-shadow: inset 0 -0.3em 0 0 var(--color-line-pink);
			}
		}
	}
}

a {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	transition: color 0.3s, background 0.3s;
	padding: 1rem 1.25rem;
	border-radius: 1rem;

	margin-top: 2rem;
}

a > .icon {
	margin-right: 0.5rem;
}

a.header__discord {
	color: var(--color-button-text);
	background: var(--color-button);
	padding-block: 16px;
	padding-inline: 52px 20px;
	position: relative;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

a.header__discord > .icon.discord {
	position: absolute;
	left: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 1;
	width: 19px;
	height: 19px;
	transform: scale(1.2);
	transition: opacity 0.3s, left 0.3s,
		transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

a.header__discord > .label-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

a.header__discord > .label-wrapper > .text {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
	color: var(--color-button-text);
}

a.header__discord > .label-wrapper > .icon.arrow {
	position: absolute;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
	width: 16px;
	height: 16px;
	transform: scale(2) rotate(180deg);
	transition: opacity 0.3s, right 0.3s,
		transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

a.header__discord:hover {
	padding-inline: 20px 52px;
}

a.header__discord:hover > .icon.discord {
	opacity: 0;
	left: 0px;
}

a.header__discord:hover > .label-wrapper > .icon.arrow {
	opacity: 1;
	right: 20px;
	transform: rotate(90deg) scale(2);
}

a:hover {
	background: var(--color-button-hover);
}

a.button-primary {
	background: var(--color-button);
	box-shadow: 0px 1.67px 23.13px 0 hsla(28, 100%, 66%, 0.15),
		0 104.58px 29.17px 0 hsla(0, 0%, 0%, 0),
		0 67.08px 26.67px 0 hsla(0, 0%, 0%, 0.03),
		0 37.5px 22.5px 0 hsla(0, 0%, 0%, 0.1),
		0 16.67px 16.67px 0 hsla(0, 0%, 0%, 0.16),
		0 4.17px 9.17px 0 hsla(0, 0%, 0%, 0.19);
}

a.button-primary > .label-wrapper > .text {
	color: var(--color-button-text);
}

nav {
	--color-navigation-background: 30 55% 84%;
	--color-navigation-text: var(--color-primary);
	--color-navigation-active-background: 12 6% 15%;
	--color-navigation-active-text: 30 8% 95%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 16px;
	padding: 6px;
	margin-top: 28px;

	background-color: hsl(var(--color-navigation-background));
}

nav a {
	color: hsl(var(--color-navigation-text));
	text-decoration: none;
	transition: color 0.3s;
	padding: 6px;
	border-radius: 10px;
	gap: 4px;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: -0.43px;
	line-height: 22%;
	font-size: 0.8rem;
}

nav a.active {
	background-color: hsl(var(--color-navigation-active-background));
	color: hsl(var(--color-navigation-active-text));

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	gap: 4px;

	width: 85px;
	height: 30px;
	border-radius: 10px;

	flex: none;
	order: 0;
	flex-grow: 0;
}

nav a:hover {
	background-color: hsla(var(--color-navigation-active-background) / 0.7);
	color: hsl(var(--color-navigation-active-text));

	& svg path {
		fill: hsl(var(--color-navigation-active-text));
	}
}
