:root {
    --dimension-em: 1em;
    --dimension-px: 1px;
    --red-color: #ff6868;
    --orange-color: #ffae74;
    --yellow-color: #ffd5a6;
    --dark-background-color: #1b1b1b;
    --light-background-color: #ebebeb;
    --secondary-color: #878787;
    --dark-text-color: #333;
    --light-text-color: #ebebeb;
    --transition: all 0.2s linear;
}

::selection {
    color: var(--light-text-color);
    background-color: var(--dark-background-color);
}

html {
    scroll-behavior: smooth;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle (draggable part) */
::-webkit-scrollbar-thumb {
    background: #777777;
    /* Blue color */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
    /* Darker blue */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
