.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 65px;
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    padding-inline: 16px;
}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 18px;

    background-color: var(--fill-third);
    font-size: large;
    font-family: "Geist Semibold";
    color: #fff;
}

.active {
    display: flex;
    width: fit-content;
    height: fit-content;
    column-gap: 8px;
    padding: 11.5px 20px;
}

.home {
    background-color: #000000;
}

.team {
    background-color: #8d63ff;
}

.projects {
    background-color: #996633;
}

.donation {
    background-color: #fb52c0;
}

.active svg > path {
    fill: #fff;
    stroke-width: 0.5px;
    stroke: #fff;
}

/* Hiding other spans that are not active */
.link:not(.active) > span {
    display: none;
}
