@font-face {
    font-family: "Geist Regular";
    src: url("./assets/fonts/Geist/static/Geist-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geist Bold";
    src: url("./assets/fonts/Geist/static/Geist-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Geist Semibold";
    src: url("./assets/fonts/Geist/static/Geist-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --dimension-em: 1em;
    --dimension-px: 1px;
    --red-color: #ff6868;
    --orange-color: #ffae74;
    --yellow-color: #ffd5a6;
    --green-color: #34c759;

    --fill-third: #7878801f;
}
